body{
	 display: flex;
    justify-content: center;
    align-items: center;
        font-family: 'OpenSans', sans-serif;


}
  .machine{
 margin-top: 2rem;
  	width: 35%;


}
header{
	background-color: #5D4038;
	height: 3rem;
	color: #fff;	
	display: flex;
    justify-content: center;
    align-items: center;

}
.defile{
	width: 80%;
	background-color: black;


}
main{
	background-color: #FEE182;
	height: 32rem;
	display: grid;	
}

footer{
		background-color: #FEE182;
		border-top: border-top: .4rem ridge rgb(170, 50, 220, .6);
		height: 1.5rem;
		margin-top: .1rem;

}
main,footer{
	margin-left:.5rem;
	margin-right:.5rem;
}
.glass{
    background-image: linear-gradient(white, #94c6f6); 
    	grid-column-start: 1; 
	grid-column-end: 2; 
	grid-row-start: 1; 
	grid-row-end: 2;
 display: flex;
    justify-content: center;
    align-items: center;
    margin:.5rem 0rem .5rem .5rem;
}
.selection{
	 grid-column-start: 2; 
  grid-column-end: 3; 
  grid-row-start: 1; 
  grid-row-end: 3; 
  background-color: #5D4038;
  margin:.5rem;



}
#tasse{
		width:4rem;
	height: 4rem;

}
.cadre{
    background-color: #313131;
    padding: 2rem 1rem 0rem 1rem;}
.tasse{
  background-color: pink;
  grid-area: c;
  grid-column-start: 1; 
  grid-column-end: 2; 
  grid-row-start: 2; 
  grid-row-end: 3; 
background-color:#4e4b4b;
   display: flex;
    justify-content: center;
    align-items:center;
margin-left: .5rem;

}
.validation{
    background-color: #5d4038;
    margin:0rem .5rem;
  grid-area: d;
   grid-column-start: 2; 
  grid-column-end: 3; 
  grid-row-start: 3; 
  grid-row-end: 4; 


}
main >*{
	margin:.1rem;
}
#cofee{
	width:8rem;
	height: 8rem;

}
/* Masquer le bouton radio d'origine */
input[type=radio]{
    display: none;
}
/* Affichage par défaut du bouton radio personnalisé */
input[type=radio] + label:before {
    background: #fff;
    border: 2px solid #ccc;
    border-radius: 50%;
    margin-left: 0.5rem;

    margin-right: 6px;
    display: inline-block;
    vertical-align: middle;
    content: '';
    width: 17px;
    height: 17px;
}
/* Affichage du bouton radio personnalisé quand il est sélectionné */
.radio{
	margin:1rem;
}
input[type=radio]:checked + label:before {
    background: #fb8819;
    border-color: #fb8819;
    box-shadow: inset 0px 0px 0px 2px #fff;
}
.element{

    margin:.3rem;

}
label{
    cursor:pointer;
       display: flex;
    justify-content: center;
    align-items:center;

}
#labe{
	background-color: white;
	width: 10rem;
	background-color: white;
    width: 100%;
    padding-left: .3rem;
    display: flex;
    text-align: center;
    align-items: center;
    border-radius: 5px;

}
.test{
	display: flex;
	flex-direction: row;
	margin-bottom: .5rem;
}
.liste{
	margin:.5rem 1rem;
	background-color: #ab4a30;
	padding: .3rem;
	padding-bottom: .2rem;
}
/* Boutons sucre*/
.sucre{
	text-align: center;
	display: flex;
	justify-content: center;
    align-items: center;


}

.sucre-box{
	text-align: center;
	background-color: #ab4a30;
	margin:0rem 1rem; 



}
#text-sucre{
	margin-bottom: 0px;
	margin-top: 0px;
	color: white;

}

.sucre p{
	background-color: white;
	padding:0px;
	margin-top:0px;
}
.button {
      background-color: #4CAF50;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin: 0px 7px 13px 7px;
    cursor: pointer;
    border-radius: 50%;
        box-shadow: 0 2px 6px rgba(0, 0, 0, .8);


}

.button:hover{
	background: linear-gradient(#79D144 0%, #50A61F 100%);
    text-shadow: 0 -1px 1px #008000;
    cursor: pointer;
}

.round {
  border-radius: 50%;
}
#Badge{
}

/***/

.buttons,.bt-ann {
    cursor: default;
    text-align: center;
    text-shadow: 0 -1px 1px #000;
    color: #FFF;
    border-radius: 5px;
    font-weight: bold;
    display: inline-block;
    border-top: 1px solid #777;
    width: 30%;
    background: linear-gradient(#5F5F5F 0%, #404040 100%);
    box-shadow: 0 2px 6px rgba(0, 0, 0, .8);
    margin-bottom: 10px;
}
#bt-badge{
	padding:0rem .5rem;
}
.buttons:hover {
    background: linear-gradient(#79D144 0%, #50A61F 100%);
    border-top: 1px solid #9ADD73;
    text-shadow: 0 -1px 1px #008000;
     cursor: pointer;
}


.bt-ann:hover{
        background: linear-gradient(#f11010 0%, #f31308 100%);
    border-top: 1px solid #f31308;
    text-shadow: 0 -1px 1px #ec550c;
    cursor: pointer;
}

.buttons:active {
    box-shadow: none;
    margin-top: 0px;
}
#calculator {
    margin: 0 auto;
    background-color: #454545;
    width: 10rem;
    }

#header {
    border-top: 1px solid #777;
    border-radius: 6px 6px 0 0;
    padding:.2rem;
}

input#number {
    text-align: right;
    background-color: #121212;
    border: none;
    border-bottom: 1px solid #777;
    color: #fff;
    font-size: 15px;
    width: 99%;
     cursor: pointer;
    box-shadow: inset 0 0 10px 4px rgba(0, 0, 0, .6);
}

input#number:focus {
    outline: none;

}

/***validation***/
.message{
background-color: black;
margin:.3rem;
	height: 2rem;
}
.bt{
	margin:0rem 0.5rem;
}
/**/
/* Masquer le bouton radio d'origine */
input[type=checkbox]{
    display: none;
}
/* Affichage par défaut du bouton radio personnalisé */
input[type=checkbox] + label:before {
    background: #fff;
    border: 2px solid #ccc;
    border-radius: 50%;
    margin-left: 0.5rem;

    margin-right: 6px;
    display: inline-block;
    vertical-align: middle;
    content: '';
    width: 17px;
    height: 17px;
}
/* Affichage du bouton radio personnalisé quand il est sélectionné */
.checkbox{
	margin:1rem;
}
input[type=checkbox]:checked + label:before {
    background: #fb8819;
    border-color: #fb8819;
    box-shadow: inset 0px 0px 0px 2px #fff;
}
